# Python
__pycache__/
*.pyc
venv/
.venv/

# Secrets
.env
backend/.env

# Model files
backend/model/
*.pkl
*.keras
*.bin
*.safetensors
*.pt

# Dataset
backend/data/
*.csv

# Results
backend/results/
backend/bert_results/
backend/bert_checkpoints/

# Node
node_modules/
dist/
build/

# VS Code
.vscode/